<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MARVEL HEROES</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='Style/StylesHomePage/StyleHomePage.css'>
</head>
<body>
    
    <header>
        <h1>MARVEL</h1>
    </header>

    <div id="app">

        
        <h2 class="characters_title">know about our heroes</h2>
        
        <input type="text" class="searchHero" v-model="searchHero" placeholder="Search by the name of your hero...">
        
        <div class="change_page up">

        <div class="pagination">
            <button v-if="currentPage != 1" @click="changePage(1)" >PRIMEIRA</button>  
            <button v-if="currentPage > 2" @click="changePage(currentPage - 1)">{{ currentPage - 1 }} PAGINA ANTERIOR</button>
            <button @click="changePage(currentPage)">{{ currentPage }}PAGINA ATUAL </button>
            <button v-if="currentPage <= maxPage" @click="changePage(currentPage + 1)">{{ currentPage + 1 }}PAGINA PROXIMA</button>
            <button v-if="currentPage != maxPage" @click="changePage(maxPage)" >{{ maxPage }}ULTIMA</button>
        </div>
            
        </div>

        <div v-if="loading" class="characters_cards_loading">
        </div>

        <div v-else class="characters_cards">
            <div class="characters_cards_group">
                <div v-for="hero in heroes" :key="hero.id" class="character_card" @click="heroPage(hero.id)">
                    <img :src="`${hero.thumbnail.path}.${hero.thumbnail.extension}`" :alt="hero.name">
                    <div class="character_card_content">
                        <h1 class="character_card_content_title" >{{ hero.name }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="change_page down">

            <img :style="{ opacity: currentPage == 1 ? 0 : 1, pointerEvents: currentPage == 1 ? 'none' : 'auto' }" src="images/seta-esquerda.png" alt="left_arrow" class="change_page_button" @click="changePage('previous')">
            <img :style="{ opacity: currentPage == maxPage ? 0 : 1, pointerEvents: currentPage == maxPage ? 'none' : 'auto' }"src="images/seta-direita.png" alt="right_arrow" class="change_page_button" @click="changePage('next')">
            
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
    <script type="module" src="Scripts/index.js"></script>
</body>
</html>