@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-image: radial-gradient(circle, #ce0000 0%, #a70000 100%);
  -webkit-clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0 80%);
}
header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: white;
  letter-spacing: -3px;
}

#app {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle, #800000 0%, #c70000 100%);
}
#app .characters_title {
  align-self: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin-bottom: -0.5rem;
  color: #fff8f8;
  text-transform: uppercase;
}
#app .searchHero {
  width: 25rem;
  font-family: "Roboto Condensed", sans-serif;
  align-self: center;
  margin-top: 2rem;
  padding: 0.4vw;
  border: none;
  outline: none;
  border-radius: 5rem;
  transition: 0.4s;
}
#app .searchHero:hover {
  box-shadow: 1px 1px 10px rgb(121, 121, 121);
}
#app .searchHero:focus {
  box-shadow: 1px 1px 10px rgb(19, 19, 19);
}
#app .pagination {
  display: flex;
  align-items: center;
  align-self: center;
}
#app .pagination .pagination button {
  border: none;
  outline: none;
  cursor: pointer;
}
#app .pagination .selected {
  background-color: #767676;
  border: solid 1px #5b5b5b;
}
#app .characters_cards_loading {
  align-self: center;
  width: 7rem;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #fffefe) content-box;
  -webkit-mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 20deg, rgba(0, 0, 0, 0) 21deg 36deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: source-in, xor;
          mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
#app .characters_cards {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#app .characters_cards .characters_cards_group {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
#app .characters_cards .characters_cards_group .character_card {
  cursor: pointer;
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 26rem;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 10px black;
}
#app .characters_cards .characters_cards_group .character_card img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
#app .characters_cards .characters_cards_group .character_card:hover img {
  transform: scale(1.05);
}
#app .characters_cards .characters_cards_group .character_card .character_card_content {
  height: 40%;
  padding: 0rem 1rem;
}
#app .characters_cards .characters_cards_group .character_card .character_card_content .character_card_content_title {
  text-transform: uppercase;
  color: #fff8f8;
  font-family: "Roboto Condensed", sans-serif;
}

.up {
  margin-top: 2rem;
}

.down {
  margin-bottom: 2rem;
}/*# sourceMappingURL=StyleHomePage.css.map */